* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 190, 69);
  z-index: 10;
}
.container {
  display: flex;
  list-style: none;
  gap: 10px;
}

.box {
  list-style: none;
  display: flex;
  gap: 40px;
}
.book1 {
  width: 90vw;
  height: 250px;
  opacity: 0.8;
  background-color: black;
}
.containers {
  display: flex;
  width: 90vw;
  height: 500px;
  margin: 10px 115px 10px 120px;
  border-style: solid;
  border-color: rgba(255, 190, 69, 1);
  border-width: 5px;
  background-image: url(https://thumbs.dreamstime.com/b/old-books-wooden-shelf-tiled-bookshelf-background-concept-theme-history-nostalgia-age-retro-style-book-symbol-342011871.jpg?w=992);
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 90vw;
  height: 500px;
  margin: 5px 120.5px;
}
.showcase-image {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: auto;
}
.showcase-image img {
  width: 300px;
  height: auto;
  position: absolute;
  left: 145px;
  top: 27px;
  border: 5px;
  border-style: solid;
  border-color: white;
}
.new-container{
  background-color: black;
  width: 100vw;
  height: 50vh;
}